<div class="home row h-100" ng-controller="homeCtrl as home">
  <div class="col-lg-8 col-md-12 col-sm-12 align-middle m-auto">
    <h1 class="text-center">
      Books
    </h1>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>ISBN</th>
          <th>Publication Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="book in home.books | itemsPerPage: home.booksPerPage" total-items="home.totalBooks" current-page="home.pagination.current">
          <td>{{book.title}}</td>
          <td>{{book.isbn}}</td>
          <td>{{book.publication_date}}</td>
          <td>{{home.statusLabels[book.status]}}</td>
        </tr>
      </tbody>
    </table>
    <div class="col-4 text-center align-middle m-auto">
      <dir-pagination-controls on-page-change="home.pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
    <div class="col-8 text-center align-middle m-auto">
      <div class="check-form">
        <h1 class="text-center">
          Register books
        </h1>
        <form novalidate name="login.form" ng-submit="login.login()">
          <div class="form-group row">
            <label for="isbn" class="col-sm-2 col-form-label">ISBN</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="home.isbn" id="isbn" placeholder="eg. 1984819194">
              <small ng-show="!!home.checkError" class="form-text text-left error-message">{{home.checkError}}</small>
            </div>
          </div>
          <input class="btn btn-primary" ng-click="home.check('CHECKIN')" type="button" value="Check in"/>
          <input class="btn btn-primary" ng-click="home.check('CHECKOUT')" type="button" value="Check out"/>
        </form>
      </div>
    </div>
  </div>
  <popup data-message="{{home.successMessage}}" data-title="{{home.successTitle}}"></popup>
</div>
