<div class="container h-100" ng-controller="loginCtrl as login">
  <div class="row h-100">
    <div class="col-8 align-middle m-auto">
      <div class="card">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
          <div class="card-text">
            <form novalidate name="login.form" ng-submit="login.login()">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" required class="form-control" id="email" name="email" ng-model="login.email" aria-describedby="emailHelp" placeholder="email@example.com">
                <small ng-show="(login.form.email.$dirty || login.form.$submitted) && login.form.email.$invalid" class="form-text error-message">Please enter a valid email address.</small>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" required id="password" class="form-control" name="password" ng-model="login.password" placeholder="Password">
                <small ng-show="(login.form.password.$dirty || login.form.$submitted) && login.form.password.$invalid" class="form-text error-message">Please enter your password.</small>
              </div>
              <input class="btn btn-primary" id="submit" type="submit" value="Login"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
