<div class="container h-100" ng-controller="registerCtrl as register">
  <div class="row h-100">
    <div class="col-8 align-middle m-auto">
      <div class="card">
        <div class="card-header">
          Registration Form Fields
        </div>
        <div class="card-body">
          <div class="card-text">
            <form novalidate name="register.form" ng-submit="register.register()">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" required class="form-control" id="name" name="name" ng-model="register.name" aria-describedby="nameHelp" placeholder="John Snow">
                <small ng-show="(register.form.name.$dirty || register.form.$submitted) && register.form.name.$invalid" class="form-text error-message">Please enter your full name.</small>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" required class="form-control" id="email" name="email" ng-model="register.email" aria-describedby="emailHelp" placeholder="email@example.com">
                <small ng-show="(register.form.email.$dirty || register.form.$submitted) && register.form.email.$invalid" class="form-text error-message">Please enter a valid email address.</small>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" required id="password" class="form-control" name="password" ng-model="register.password" placeholder="Password">
                <small ng-show="(register.form.password.$dirty || register.form.$submitted) && register.form.password.$invalid" class="form-text error-message">Please enter your password.</small>
              </div>
              <div class="form-group">
                <label for="confirmation">Confirm password</label>
                <input type="password" required ng-pattern="register.password" id="confirmation" class="form-control" name="confirmation" ng-model="register.confirmation" placeholder="Password">
                <small ng-show="(register.form.confirmation.$dirty || register.form.$submitted) && register.form.confirmation.$invalid" class="form-text error-message">Passwords must coincide.</small>
              </div>
              <div class="form-group">
                <label for="dob">Date of birth</label>
                <input type="date" required id="dob" class="form-control" name="dob" ng-model="register.dob" min="1900-01-01" max="2022-01-01">
                <small ng-show="(register.form.dob.$dirty || register.form.$submitted) && register.form.dob.$invalid" class="form-text error-message">Please select your date of birth.</small>
              </div>
              <input class="btn btn-primary" id="submit" type="submit" value="Register"/>
              <small ng-show="!!register.errorMessages" class="form-text error-message">
                <p ng-repeat="message in register.errorMessages">
                  {{message[0]}}
                </p>
              </small>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
