<head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img class="app-logo" src="/img/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div ng-if="!app.authSrv.getCurrentToken() && app.$location.path() != '/register'" class="navbar-nav">
        <a class="nav-item nav-link active" href="/register">Register</a>
      </div>
      <div ng-if="!app.authSrv.getCurrentToken() && app.$location.path() != '/'" class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Login</a>
      </div>
      <div ng-if="!!app.authSrv.getCurrentToken()" class="navbar-nav">
        <a class="nav-item nav-link active" href="" ng-click="app.authSrv.logout()">Logout</a>
      </div>
    </div>
  </nav>
</head>
<main ng-view>
</main>
<footer>
</footer>
