body {
  background: #fff;
}

main {
  height: 86vh;
}

footer {

}

.navbar {
  width: 100%;
}

.app-logo {
  width: 60px;
}

.error-message {
  color: #ff0500;
}

.home {
  margin: 0;
}

.pagination {
}

.pagination li {
  margin: auto;
}

.pagination li a {
  color: #009a4f;
}

.pagination li.active a{
  color: #006735;
  text-decoration: underline;
}
